:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 85%);
  transition: background-color 0.3s ease;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 40%);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btn:hover {
  transform: scale(1.05);
  border-color: black;
}

.btn.correct {
  background-color: hsl(var(--hue-correct), 100%, 40%);
  border-color: hsl(var(--hue-correct), 100%, 30%);
}

.btn.wrong {
  background-color: hsl(var(--hue-wrong), 100%, 40%);
  border-color: hsl(var(--hue-wrong), 100%, 30%);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.score {
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
}
